JWT_SECRET_KEY=

# OAuth 설정
KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=

# AWS S3 설정
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=

# DB 설정
DATABASE_URL=
DATABASE_USER=
DATABASE_PASSWORD=
